<div class="select-container">

  <div class="select-badges">
    <span>Available cities in <strong>{{ country }}</strong> <b>{{ citiesList.length ? citiesList.length : 0 }}</b></span>
    <span>Selected cities <b>{{ selectedItemsSet.size }}</b> of <b>{{ citiesList.length }}</b></span>
    <a (click)="unselectAll()">Unselect</a>
  </div>

  <div class="select-input-control">
    <input type="text"
           placeholder="Select of search a country"
           [formControl]="searchFormControl"
           (focus)="openDropdown()">

    <button [disabled]="!searchFormControl.value?.length" (click)="clearSearch()">
      <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512">
        <path d="M16,8a1,1,0,0,0-1.414,0L12,10.586,9.414,8A1,1,0,0,0,8,9.414L10.586,12,8,14.586A1,1,0,0,0,9.414,16L12,13.414,14.586,16A1,1,0,0,0,16,14.586L13.414,12,16,9.414A1,1,0,0,0,16,8Z"/><path d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm0,22A10,10,0,1,1,22,12,10.011,10.011,0,0,1,12,22Z"/>
      </svg>
    </button>

  </div>

  <div class="select-dropdown" *ngIf="isDropdownOpened">

    <ng-container *ngIf="citiesList.length else emptyList">

      <cdk-virtual-scroll-viewport #cdkVirtualScrollViewport
                                   [style.height]="dynamicViewportHeight"
                                   [itemSize]="50"
                                   class="scroll-viewport">

        <button *cdkVirtualFor="let city of citiesList;"
                (click)="select(city.name)"
                [ngClass]="{ 'selected': city.name | isSelected : selectedItemsSet }">
          {{ city.name }}
        </button>

      </cdk-virtual-scroll-viewport>

    </ng-container>

    <ng-template #emptyList>
      <span class="empty-list-badge">City was not found or does not exist</span>
    </ng-template>

  </div>

  <ul class="selected-items-list" *ngIf="selectedItemsSet.size">
    <li class="selected-item" *ngFor="let selectedItem of selectedItemsSet">{{ selectedItem }}</li>
  </ul>

</div>

<div class="select-backdrop" *ngIf="isDropdownOpened" (click)="closeDropdown()"></div>
