@import "../../assets/country-multi-select.mixin";

app-city-select {
  display: block;

  @include country-multi-select();

  &.opened {
    & {
      position: relative;
      z-index: 8888;

      .select-container {
        z-index: 8888;
      }
    }
  }

}
